<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/asset/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>OTP</th>
                                <th>Verify</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<data.length; i++) { %>
                                <tr>
                                    <td><%=  data[i].name %></td>
                                    <td><%=  data[i].mobile %></td>
                                    <td><%=  data[i].otp %></td>
                                    <td>
                                        <a href="/user/user_verify_without_otp/<%= data[i].id %>">
                                            <button class="btn btn-primary">Verify</button>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/user/delete-pending-user/<%= data[i].id %>">
                                            <button class="btn btn-danger">Delete</button>
                                        </a>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>

</html>